<%= form_for ([@post,@comment]) do |f| %>
  <%if @comment.errors.any?%>
    <div id="errors">
      <h2> <%= pluralize(@comment.errors.count, "error")%> prevented this comment from saving.</h2>
        <ul>
          <% @comment.errors.full_messages.each do|msg| %>
            <li> <%= msg %></li>
          <%end%>
        </ul>
    </div>
  <% end %>
 <p><%= f.label :name %><br>
    <%= f.text_field:name %></p>
  <p><%= f.label :body %><br>
     <%= f.text_area:body %></p>
  <p><%= f.submit %><br></p>
<%end%>
