<%= form_for [@post, @comment] do |f| %>
 <p><%= f.label :name %><br>
    <%= f.text_field:name %></p>
  <p><%= f.label :body %><br>
     <%= f.text_area:body %></p>
  <p><%= f.submit %><br></p>
<%end%>
