<div id="page_wrapper">
<h1>Abhinav Garg</h1>
<h3>Software Developer at PrepSmarter, Inc.</h3>
<p>
• Highly focused, results-and goal-oriented as a member of the development team in the Information Technology with focus in the areas of technical support,  operations & development.
</p>
<p>
• Technical, Analytical, Presentation, Communication and Leadership skills. Strong team player and ability to perform in both team and individual settings.
</p>
<p>

• Quick learner and excellent team player having ability to meet tight deadlines and work under pressure.
</p>
<p>
• Excellent Inter personal and communication skills.
</p>
</div>
