<div id="post_content">
<h2><%= @post.title %></h2>
<p class="body"><%= @post.body%></p>
<p class="date"> Submitted <%= time_ago_in_words(@post.created_at) %> ago
<%if user_signed_in? %>
| <%= link_to "Edit", edit_post_path(@post)%> | <%= link_to "Delete", @post,method: :delete, data:{ confirm: 'Are You Sure ?'}%>
</p>
<%end%>
  <div id="comments">
    <h2><%=@post.comments.count %> Comments</h2>
    <%= render @post.comments%>

    <h3>Add a comment: </h3>
    <%=render 'comments/form' %>
   </div>
</div>
