  <div id="sidebar">
    <div id="logo", class = "logo">
      <%= link_to root_path do%>
        <%= image_tag "favicon.ico"%>
      <%end%>
    </div>
    <ul>
      <li class ="category">Website</li>
      <li><%= link_to 'Blog',root_path %></li>
      <li><%= link_to 'About',about_path %></li>
    </ul>
    <ul>
      <li class="category">Social</li>
      <li><a href="https://www.facebook.com/abhinavcool016">Facebook</a></li>
      <li><a href="https://twitter.com/abhinavcool016">Twitter</a></li>
      <li><a href="https://www.instagram.com/_20abhinav/">Instagram</a></li>
      <li><a href="https://plus.google.com/+Abhinavgarg098">Google+</a></li>
      <li><a href="mailto:abhinav@prepsmarter.com">Email</a></li>
    </ul>
  <%if !user_signed_in? %>
   <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
  <%end%>
  </div>
