<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/sidebar'%>
  <div id="main_content">
    <div id="header">
      <%if current_page?(root_path)%>
        <%= link_to "All Posts", root_path %>
        <%elsif current_page?(about_path)%>
          <p>About</p>
          <%else%>
            <%=link_to "Back to All Posts", root_path %>
      <%end%>
      <div class="buttons">
        <button class="button">
          <%= link_to "New Post",new_post_path %>
        </button>
        </div>
      <%if user_signed_in? %>
      <div class="buttons">
        <button class="button"><%= link_to "Logout",   destroy_user_session_path, method: :delete %></button>
      </div>
      <%end%>
    </div>
    <%flash.each do |name,msg| %>
    <%= content_tag(:div, msg, class: "alert")%>
    <%end%>
    <%= yield %>
  </div>
</body>
</html>


